<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cluckr</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/master.css">
    
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <a class="navbar-brand" href="/clucks">
            <img src="https://images.unsplash.com/photo-1471253794676-0f039a6aae9d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" width="30" height="30" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/clucks/new">Clucks! <span class="sr-only">(current)</span></a>
            <% if(loggedInUserName) {  %> 
                <li class="nav-item">
                    <span class="navbar-text mr-2 text-success"><strong><%= loggedInUserName %></strong></span>
                  </li>
                  <li class="nav-item">
                    <form action="/sign_out" method="POST" class="form-inline">
                      <button class="btn btn-outline-dark">Sign Out</button>
                    </form>
                  </li>
            <% } else {%> 
                <a class="nav-item nav-link" href="/sign_in">Sign In</a>
            <% }%> 
          </div>
        </div>
    </nav>
