<%- include('../partials/header.ejs') %>
<div class="container">
    <form action="/sign_in" method="POST">
        <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
</div>

<%- include('../partials/footer.ejs') %>